h1 {
    color: orangered;
    text-align: center;
    margin-left: 30px;
   
   } 
   h2 { 
       color: green;
       margin-left: 30px;
       text-align: center;
   } 
   p
    {
      font-family: Arial;
      color: green;
         }

   body {
     background-color: lightblue;
   }
